<!DOCTYPE html>
<link href="/static/style.css" rel="stylesheet">
<html>
    {% if not story_id %}
        {% set stories = " " %}
    {%else %}
        {% set story_id = story_id|int - 1 %}
    {% endif %}
    <head><h1>Story manager - Edit Story</h1>
        <title>Story {{ story_id }}</title>
    </head>
<body>
    <form action="/list" method="POST">
        <label for="story_title_id">Story Title</label><br>
            <input type="text" id="story_title_id" name="story_title" value="{{ stories[story_id|int][0] }}" ><br><br>

        <label for="user_story_id">User Story</label><br>
            <textarea rows=5 cols=50 id="user_story_id" name="user_story"  required>{{ stories[story_id|int][1] }}</textarea><br><br>

        <label for="accept_crit_id">Acceptance Criteria</label><br>
            <textarea rows=5 cols=50 type="text" id="accept_crit_id" name="accept_crit" required>{{ stories[story_id|int][2] }}</textarea><br><br>

        <label for="business_value_id">Business Value</label><br>
            <input type=number min=0 max=1500 step=100 id="business_value_id" name="business_value" value="{{ stories[story_id|int][3] }}" required><br><br>

        <label for="estimation_id">Estimation (h)</label><br>
            <input type=number min=0 max=24 step=0.5 id="estimation_id" name="estimation" value="{{ stories[story_id|int][4] }}" required><br><br>

        <label for="status_id">Status</label><br>
            <select id="status_id" name="status" required><br><br>
                <option> Planning</option>
                <option> TODO</option>
                <option> In Progress</option>
                <option> Review</option>
                <option> Done</option>
            </select><br><br>
        <button>Click to submit</button><br><br>
        <p id="demo" onclick="joke()" style=color:red>Dont click it!</p>
        <script>
            function joke() {
                document.getElementById("demo").style.color = "green";
                document.getElementById("demo").innerHTML = "HAHAHAHA";
            }
        </script>
</body>
</html>